<div class="logobox">
    <h1>Riham</h1>
</div>
<div class="navbar">
    <a routerLink="/dashboard" routerLinkActive="active" class="link">Dashboard</a>
    <a routerLink="/sellers" routerLinkActive="active" class="link">Sellers</a>
    <a routerLink="/stock" routerLinkActive="active" class="link">Stock</a>
    <a routerLink="/notifications" routerLinkActive="active" class="link">Notifications</a>
    <a routerLink="/sells" routerLinkActive="active" class="link">Sells</a>
    <a routerLink="/products" routerLinkActive="active" class="link">Products</a>
    <a routerLink="/orders" routerLinkActive="active" class="link">Orders</a>
    <a routerLink="/issues" routerLinkActive="active" class="link">Issues</a>
    <a routerLink="/accounts" routerLinkActive="active" class="link">Accounts</a>
</div>