.bar {
  height: 2.5em;
  background-color: white;
  box-shadow: 0px 3px 10px;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
}

button {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
  color: black;
  width: 60px;
  height: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

button:hover {
  background-color: black;
  color: white;
}

.texts {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  width: 10%;
}

.title {
  text-align: center;
  margin: 0;
  font-size: large;
  color: black;
}
