.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  border-radius: 4px;
  background-color: #404E68;
  padding: 10px;
  width: 130px;
  box-shadow: 1.5px 1.5px 9px #000;
  margin: 10px;
}

.title{
  color: white;
  font-size: large;
  margin-top: 1px;
}

.value{
  color: white;
  font-size: medium;
  font-weight: 300;
}

.pink {
  background-image: linear-gradient(to left top, #F16595 0%, #E52466 90%);
}